.navigationContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background-color: rgba(255, 228, 196, 0.332);
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.navigationContainer .logoContainer {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

.navigationContainer .logoContainer img {
    height: 3rem;
    border-radius: 100%;
}

.navigationContainer .logoContainer .avinNameContainer {
    display: flex;
}

.navigationContainer .logoContainer .avinNameContainer .avinLastName {
    color: rgb(255, 94, 0);
}